<div ng-controller="View2Ctrl as ctrl" ng-cloak class="md-inline-form" layout="row" flex>

    <md-sidenav layout="column" class="lefNav md-whiteframe-10dp" md-is-locked-open="true">


            <div id="searchBox" layout="column">

                <h4>Search L4s</h4>
                <md-input-container>
                    <label style="font-size: 18px;">Input Personal Reference Here</label>
                    <md-tooltip md-direction="right">Please input the personal reference in this input box, then click
                        the Search button.
                    </md-tooltip>
                    <md-tooltip md-direction="right">Please input the personal reference in this input box, then click
                        the Search button.
                    </md-tooltip>
                    <input type="text" ng-model="ctrl.personalRefSearch.searchText"/>

                </md-input-container>
                <md-button class="md-raised md-primary"
                           ng-click="ctrl.personalRefSearch.search(ctrl.personalRefSearch.searchText);">Search
                </md-button>

            </div>



        <div layout="column" ng-hide="ctrl.BulkChangeSet.updateQueue.data.length==0"
             class="animate-show md-whiteframe-12dp">


            <md-chips ng-model="ctrl.BulkChangeSet.updateQueue.data" name="updateItem"
                      readonly="ctrl.BulkChangeSet.updateQueue.readonly" md-max-chips="5">
                <md-chip-template>
                    <md-tooltip md-direction="Top">
                        {{$chip.name}}({{$chip.value}})
                    </md-tooltip>
                    <strong>{{$chip.name}}</strong>
                    <em>({{$chip.value}})</em>
                </md-chip-template>
            </md-chips>
            <md-button class="md-raised md-primary animate-show" ng-click="ctrl.BulkChangeSet.bulkUpdate($event)"
                       ng-hide="ctrl.BulkChangeSet.updateQueue.data.length==0">
                Commit Bulk Update
            </md-button>
        </div>


    </md-sidenav>
    <md-content class="content" layout="column" flex>


        <!-- start of update panel-->
        <div ng-hide="!gridApi.selection.getSelectedRows().length" class="animate-show">
            <div layout="row" layout-align="start" layout-wrap layout-padding layout-margin>
                <md-datepicker ng-model="ctrl.BulkChangeSet.OperationalPointZeroDate" md-placeholder="Operational Point Date Zero" ng-change="ctrl.BulkChangeSet.AddAction('OperationalPointZeroDate')" md-tooltip="Operational Point Date Zero" flex="30">

                </md-datepicker>


                <md-input-container flex="25">
                    <label>All Accounts On Buses</label>
                    <md-select ng-model="ctrl.BulkChangeSet.AllAccountsOnBuses"
                               ng-change="ctrl.BulkChangeSet.AddAction('AllAccountsOnBuses')">
                        <md-option ng-repeat="option in ctrl.BulkChangeSet.initData.AllAccountsOnBuses"
                                   value="{{option}}">
                            {{option}}
                        </md-option>
                    </md-select>

                </md-input-container>
                <md-input-container flex="25">
                    <label>New Bank Accounts Setup</label>
                    <md-select ng-model="ctrl.BulkChangeSet.NewBankAccountsSetup"
                               ng-change="ctrl.BulkChangeSet.AddAction('NewBankAccountsSetup')">
                        <md-option ng-repeat="option in ctrl.BulkChangeSet.initData.NewBankAccountsSetup"
                                   value="{{option}}">
                            {{option}}
                        </md-option>
                    </md-select>

                </md-input-container>

            </div>
            <div layout="row" layout-align="start" layout-padding layout-margin>
                <md-datepicker ng-model="ctrl.BulkChangeSet.L4ClientIndicatedCashDate"
                               md-placeholder="Indicated Cash Date"
                               ng-change="ctrl.BulkChangeSet.AddAction('L4ClientIndicatedCashDate')"></md-datepicker>

                <md-datepicker ng-model="ctrl.BulkChangeSet.L4ClientIndicatedTradeDate"
                               md-placeholder="Indicated Trade Date"
                               ng-change="ctrl.BulkChangeSet.AddAction('L4ClientIndicatedTradeDate')"></md-datepicker>
                <md-datepicker ng-model="ctrl.BulkChangeSet.ClientMandatedNewBank"
                               md-placeholder="Client Mandated New Bank"
                               ng-change="ctrl.BulkChangeSet.AddAction('ClientMandatedNewBank')"></md-datepicker>


            </div>
            <div layout="row" layout-align="start" layout-padding layout-margin>
                <md-input-container class="datepicker-align" flex="30">
                    <label>Detailed Onboarding Plan In Place</label>
                    <md-select ng-model="ctrl.BulkChangeSet.DetailedOnboardingPlanInPlace"
                               ng-change="ctrl.BulkChangeSet.AddAction('DetailedOnboardingPlanInPlace')">
                        <md-option ng-repeat="option in ctrl.BulkChangeSet.initData.DetailedOnboardingPlanInPlace"
                                   value="{{option}}">
                            {{option}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
        </div>
        <!-- end of update panel-->


        <div layout="row" Class="animate-show md-whiteframe-12dp resultGridPane" flex>
            <div layout="column" ng-show="ctrl.showResult">
                <md-progress-linear md-mode="indeterminate"
                                    ng-hide="!ctrl.personalRefSearch.inSearch"></md-progress-linear>
                <div ui-grid="gridOptions" ui-grid-selection class="myGrid" ui-grid-resize-columns></div>
            </div>


        </div>

    </md-content>

</div>


