


<div ng-controller="View2Ctrl as ctrl" layout="row" ng-cloak class="md-inline-form">

    <div layout="column" layout-align="center start" layout-padding flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <!--<md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
                </md-button>-->
                <h2>
                    <span>Search L4 and L1 with Personal Reference</span>
                </h2>
                <span flex></span>
               <!-- <md-button class="md-icon-button" aria-label="Favorite">
                    <md-icon md-svg-icon="img/icons/favorite.svg" style="color: greenyellow;"></md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="More">
                    <md-icon md-svg-icon="img/icons/more_vert.svg"></md-icon>
                </md-button>-->
            </div>
        </md-toolbar>


        <p>Please input the personal reference in the input box below, then click the search button.</p>
        <div layout="row" layout-align="center center" >

                <md-input-container>
                    <label>Personal reference</label>
                    <input type="text" ng-model="ctrl.personalRefSearch.searchText"/>
                </md-input-container>
            <md-button class="md-raised md-primary" ng-click="ctrl.personalRefSearch.search(ctrl.personalRefSearch.searchText);">Search</md-button>
        </div>

        <div layout="row"  ng-hide="ctrl.BulkChangeSet.updateQueue.data.length==0" class="animate-show">

            <md-chips ng-model="ctrl.BulkChangeSet.updateQueue.data" name="updateItem" readonly="ctrl.BulkChangeSet.updateQueue.readonly" md-max-chips="5">
                <md-chip-template>
                    <strong>{{$chip.name}}</strong>
                    <em>({{$chip.value}})</em>
                </md-chip-template>
            </md-chips>
            <md-button class="md-raised md-primary" ng-click="ctrl.BulkChangeSet.bulkUpdate($event)" ng-hide="ctrl.BulkChangeSet.updateQueue.data.length==0">Commit Update</md-button>
        </div>

        <!-- start of update panel-->
        <div ng-hide="!gridApi.selection.getSelectedRows().length" class="check-element animate-show">
        <div layout="row" layout-align="left top" layout-margin layout-padding>


            <md-datepicker ng-model="ctrl.BulkChangeSet.OperationalPointZeroDate" md-placeholder="OZD" ng-change="ctrl.BulkChangeSet.AddAction('OperationalPointZeroDate')" md-tooltip="Operational Point">

            </md-datepicker>


            <md-input-container>
                <label>AllAccountsOnBuses</label>
                <md-select ng-model="ctrl.BulkChangeSet.AllAccountsOnBuses" ng-change="ctrl.BulkChangeSet.AddAction('AllAccountsOnBuses')">
                    <md-option ng-repeat="option in ctrl.BulkChangeSet.initData.AllAccountsOnBuses" value="{{option}}">
                        {{option}}
                    </md-option>
                </md-select>

            </md-input-container>
            <md-input-container>
                <label>New Bank Accounts Setup</label>
                <md-select ng-model="ctrl.BulkChangeSet.NewBankAccountsSetup" ng-change="ctrl.BulkChangeSet.AddAction('NewBankAccountsSetup')">
                    <md-option ng-repeat="option in ctrl.BulkChangeSet.initData.NewBankAccountsSetup" value="{{option}}">
                        {{option}}
                    </md-option>
                </md-select>

            </md-input-container>
            <md-datepicker ng-model="ctrl.BulkChangeSet.L4ClientIndicatedCashDate" md-placeholder="Indicated Cash Date" ng-change="ctrl.BulkChangeSet.AddAction('L4ClientIndicatedCashDate')" ></md-datepicker>
</div>

        <div layout="row" layout-align="left top" layout-margin layout-padding>

            <md-datepicker ng-model="ctrl.BulkChangeSet.L4ClientIndicatedTradeDate" md-placeholder="Indicated Trade Date" ng-change="ctrl.BulkChangeSet.AddAction('L4ClientIndicatedTradeDate')" ></md-datepicker>
            <md-datepicker ng-model="ctrl.BulkChangeSet.ClientMandatedNewBank" md-placeholder="Client Mandated New Bank" ng-change="ctrl.BulkChangeSet.AddAction('ClientMandatedNewBank')" ></md-datepicker>


            <md-input-container>
                <label>Detailed Onboarding Plan In Place</label>
                <md-select ng-model="ctrl.BulkChangeSet.DetailedOnboardingPlanInPlace" ng-change="ctrl.BulkChangeSet.AddAction('DetailedOnboardingPlanInPlace')">
                    <md-option ng-repeat="option in ctrl.BulkChangeSet.initData.DetailedOnboardingPlanInPlace" value="{{option}}">
                        {{option}}
                    </md-option>
                </md-select>
            </md-input-container>

        </div>
        </div>
        <!-- end of update panel-->

        <md-progress-linear md-mode="indeterminate" ng-hide="!ctrl.personalRefSearch.inSearch"></md-progress-linear>

        <div layout="row">
            <div layout="column">
                <h3>L4s</h3>
                <div>{{gridApi.selection.getSelectedRows().length}} rows selected</div>
                <div ui-grid="gridOptions" ui-grid-selection class="myGrid" ui-grid-auto-resize></div>
            </div>



        </div>

</div>
   <!-- <div layout="column" layout-align="center center"
          class="md-padding">
        <span id="right">.</span>
    </div>-->
</div>

